@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.right {
    text-align: right
}

.loading {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.auth-loading {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    top: 25%;
}

.hidden {
    display: none;
}

.error-page {
    font-size: 4em;
    margin: 15%;
}

.error-page h1 {
    color: #6c6f6d;
    text-align: center;
}

.error-page p {
    font-size: 30px;
}

.error-page-link {
    font-size: 20px;
}

.error {
    font-size: 14px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* global variables */
.col-red {
    color: #ff0000;
}

.col-green-black {
    color: #0f2e01;
}

.col-green {
    color: #60fa19;
}

.col-white {
    color: #ffffff;
}

.page-width {
    width: 85%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.center-box {
    margin: 0 auto;
}
.justify {
    text-align: justify;
}

.large-text {
    font-size: 20px;
}

.bg-white {
    background-color: #ffffff;
}

.bg-red {
    background-color: #ff0000;
}

.bg-green-black {
    background-color: #0f2e01;
}

.bg-green {
    background-color: #86ca91;
}

.bg-light-green {
    background-color: #7d8a7b;
}

.bg-grey {
    background-color: #808080;
}

.nav {
    background-color: #86ca91;
    color: #ffffff;
    width: 100%;
    height: 55px;
    /* border-bottom: 1px solid #7d8a7b; */
}
  
.nav .nav-center .nav-header {
    display: inline;
}
  
.nav .nav-center .nav-header .nav-title {
    display: inline-block;
}
  
.nav-title {
    color: #ffffff;
    margin-top: 9px;
}

.nav-title a {
    font-size: 25px;
    color: #ffffff;
    border-bottom: 3px solid
}

.nav-title:hover a {
    color: rgba(40, 46, 41, 0.9);
    transition: 0.8s;
}
  
.nav .nav-center .nav-btn {
    display: none;
}
  
.nav .nav-center .nav-links {
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 15px;
}

.nav-links a {
    height: 50px;
    border: 0.5px solid #b6c9ae;
    background: #76b17f;
    padding: 10px 15px;
    color: #ffffff;
}
  
.nav .nav-center .nav-links a {
    margin-left: 10px;
    transition: border-color 0.8s;
    border-bottom-width: 0.33s;
    color: 0.4s;  
}
  
.nav .nav-center .nav-links a:hover {
    border-bottom-width: 3px;
    border-color: #ffffff;
    color: #e4f0e3;
    background: #6a966dd8;
}
  
.nav .nav-center #nav-check {
    display: none;
}
  
.nav-center {
    width: 85%;
    margin: 0 auto;
}

.active {
    background: #88da8f;
}

/* Showcase */
.showcase {
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(52, 93, 112, 0.5), rgba(40,180,133,0.9)
    ), url(https://res.cloudinary.com/drmrayjr0/image/upload/v1559127866/INEC_lwaxhc.jpg);
    background-size: cover;
    height: 90vh;
    justify-content: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.showcase-title {
    font-size: 3em;
}

.showcase-text {
    line-height: 2;
}

@keyframes showcase-btn {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.showcase-btn, .row-items p {
  margin-top: -45.5px;
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.showcase-btn:hover, .row-items:hover p, .showcase-btn:focus, .showcase-btn:active {
  -webkit-animation-name: showcase-btn;
  animation-name: showcase-btn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Information section */
.row-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 5% 0;
}

.row-items {
    margin: 5%;
    padding: 0 3px;
}

.row-items img {
    height: 8em;
    display: block;
    margin: 5% auto;
}

.row-items p {
  padding: 15px;
  line-height: 1.5;
  font-size: 18px;
  border: 1px solid #f1f1f1;
  background-color: #f3f7f5;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Registration form */
.form-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2% 0 2% 4%;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 1px #888888;
    background: #f7f4f4;
}

.form-wrapper label {
    display: block;
    margin-top: 0.5%;
}

.form-wrapper input, .modal-content input, .modal-content select {
    display: block;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1.5%;
    border-left: 2px solid #888888;
    font-size: 16px;
}

.form-wrapper input:focus {
    outline: 1px solid #86CA91;
}

.radio input:focus {
    outline: none;
}

.upload input {
    font-size: 14px;
}

.form-wrapper button, .modal-content button {
    margin-top: 2%;
    font-size: 17px;
    height: 35px;
    width: 30%;
    border-color: #7d8a7b;
    border-radius: 3px;
}

.form-wrapper button:hover {
    box-shadow: 0px 2px 2px #888888;
    transition: 0.5s;
}

.inline {
    display: inline-block;
    padding: 0 10px;
}
.reg-btn{
    width: 90%;
}

.submit-btn {
    width: 100%;
}

.reg-btn .button, .submit-btn .button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
}

.reg-btn .button:hover, .submit-btn .button {
    opacity: 0.8;
    transition: 0.7s;
}

.links {
    font-size: 14px;
    margin-top: 20px;
}

.links a:hover {
    text-decoration: underline;
}

/* Signin form */
.login-form {
    margin-top: 0px;
}

.login-form p{
    font-size: 20px;
}
 
.form-header {
    width: 50%;
    margin: auto;
    margin-top: 8%;
    border: none;
    box-shadow: 1px 1px 1px #888888;
}

.form-grid input {
    height: 50px;
    font-size: 17px;
    letter-spacing: 3px;
    outline: none;
}

.form-active {
    background-color: #e2e2e2;
    border: none;
    color: #ffffff;
}

.form-inactive {
    background-color: #7d8a7b;
    border: none;
}

.form-head {
    background-color: #7d8a7b;
    padding: 10px 0;
    border: none;
}

.form-grid {
    display: grid;
}
.form-btn{
    width: 90%;
}
.form-btn .button {
    cursor: pointer;
    border: none;
    margin-top: 24px;
}

.form-btn .button:hover {
    background: #87bd70;
    transition: 0.6s;
    box-shadow: 0px 2px 2px #888888;
}

.icon {
    position: relative;
    top: 29px;
    left: 10px;
    color: #304e35;
}

.form-field {
    padding-left: 30px !important;
}

/* Reset password */
.pass-reset:hover {
    text-decoration: underline;
}

.box-header {
    display: grid;  
}

.box-header input {
    height: 50px;
    font-size: 17px;
    letter-spacing: 3px;
}

/* Profile section */
.profile-header {
    padding: 25px 0;
    background: #f7f4f4;
    border-bottom: 1px solid #cfcccc;
}

.profile-info {
    display: inline-block;
    float: right;
    margin-top: 1.5%;
    margin-right: 25%;
}

.profile-info h2 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #888888;
}

.profile-info h4 {
    padding: 3px;
    color: #304e35
}

.profile-header img {
    height: 140px;
    border-radius: 50%;
    margin-left: 20%;
}

.profile-content {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    margin: auto;
}

.party_details {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 8%;
}

.sidebar {
    background: #4d7b51;
    padding: 20px 0px;
    font-size: 17px;
}

.sidebar-menu a, .modal-link {
    color: #ffffff;
    padding: 15px 0px 10px 40px;
    display: block;
}

.modal-link {
    cursor: pointer;
}

.sidebar-menu a:hover, .modal-link:hover {
    background-color: #8ce293;
    transition: 0.33333s;
}

/* party list */
.main-area {
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}

.main-area h2 {
    margin-top: 20px;
    margin-left: 13px;
    font-size: 40px;
    color: #0f2e01;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.box {
    border: 3px solid #f4f4f4;
    border-radius: 6px;
    box-shadow: 2px 3px;
}

.box:nth-child(even) {
    background: #86CA91;
}

.box:nth-child(odd) {
    background: #86aa89;
}

.box:hover {
    opacity: 0.8;
}

.box-inner {
    padding: 15px 10px 25px 10px;
}

.box-inner h4 {
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(178, 225, 226, 0.5);
}

.box-name {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 3px;
}

.box-info {
    font-size: 18px;
    margin-top: 5px;
}

.box-office {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.box img {
    height: 80px;
    border-radius: 50%;
    border: 1px solid #c7c5c5;
}

.parties {
    height: 50vh;
    padding: 40px 50px;
}

/* Modal style */
.modal-content input[type="text"], .modal-content input[type="password"], .modal-content input[type="file"], textarea, .modal-content select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

.modal-content select {
    height: 50px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
  background-color: #ddd;
  outline: none;
}

.modal-container {
  padding: 30px;
}

.partyModal, .modal, .officeModal, .editModal, .petitionModal, .resultModal, .deleteModal, .officeListModal, .detailsModal, .voteModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: #45524ae5;
}

.modal-content {
  background-color: #f6f9f7;
  margin: 10% auto 10% auto;
  border: none;
  box-shadow: 1px 1px 1px #888888;
  width: 60%;
}

.offices {
  width: 90%;  
}

.partyDetails {
    width: 70%;
}

.table-modal {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 1%;
    padding: 2%;
    border-left: 2px solid #888888;
    font-size: 16px;
}

hr {
  border: 1px solid #e9f0ed;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f8c2b4;
}

.close:hover,
.close:focus {
  color: #6fee8b;
  cursor: pointer;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eeeeee;
}

th {
    background: #678d6a;
    color: #ffffff;
    font-weight: bold;
}

th, td {
    padding: 15px;
    border: 1px solid #cccccc;
    text-align: left;    
}

.table-area {
    padding: 30px;
}

.result-table {
    margin-bottom: 50px;
}

/* voting table */
.vote-area {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
}

.vote-btn {
    height: 30px;
    width: 70px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    background: #314d37;
    border: none;
    outline: none;
}

.vote-btn:hover {
    opacity: 0.6;
    transition: 0.6s;
}

.admin-create-btn {
    background: #f7f4f4;
    margin-top: 20px;
    border: none;
    border-top: 3px solid #304e35;
    cursor: pointer;
}

.admin-create-btn:hover {
    border-bottom: 3px solid #304e35;
    transition: 0.6s;
}

.mt {
    float: right;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.admin-header-btn {
    margin-top: -44px;
    margin-bottom: 30px;
}

.admin-header-btn input {
    font-size: 18px;
    outline: none;
}

.admin-header-btn input:hover {
    opacity: 0.6;
    transition: 06s;
}

.admin-reg-btn {
    height: 30px;
    width: 100px;
    font-size: 17px;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    background: #8aa890;
}

.footer {
    text-align: center;
    background: #5a5a5a;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
}

.logo-center {
    text-align: center;
}
  
@media screen and (max-width: 600px) {
    .nav .nav-center .nav-btn {
      display: inline-block;
      position: absolute;
      right: 13px;
      top: 15px;
    }

    .nav .text .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav-center .nav-btn label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav-center .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav-center .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #4d634ff1;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      left: 0px;
    }
    .nav-links a {
      display: block;
      width: 100%;
      color: #ffffff;
      background: none;
      border: none;
      height: 35px;
    }
    .nav .nav-center .nav-links a:hover {
      background: none;
      color: #60fa19;
      transition: all 0.8s;
  }
    .nav .nav-center #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }
    .nav .nav-center #nav-check:checked + .nav-links {
      height: calc(100vh - 100px);
      overflow-y: auto;
    }

    .showcase {
        display: block;
        align-items: center;
        height: 100%;
    }

    .showcase-title {
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    .showcase-text {
        font-size: 16px;
        padding: 20px;
        line-height: 1.6;
    }

    .showcase-btn {
        display: none;
    }

    .row-content {
        grid-template-columns: 100%;
    }

    .form-wrapper {
        width: 90%;
    }
    
    .form-wrapper input, .modal-content input {
        display: block;
        width: 97%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2%;
        border-left: 2px solid #888888;
        font-size: 14px;
    }

    .form-wrapper label {
        display: block;
        margin-top: 3%;
        font-size: 15px;
    }

    .reg-btn input {
        cursor: pointer;
        width: 100px;
        height: 30px;
        border: none;
        margin-top: 20px;
    }
    
    .reg-btn input:hover {
        opacity: 0.8;
        transition: 0.7s;
    }

    .form-header {
        width: 90%;
    }

    .links {
        font-size: 12px;
        margin-top: 7%;
    }
    
    .links a:hover {
        text-decoration: underline;
    }

    .pass-reset {
        box-sizing: border-box;
        margin-top: 3%;
        margin-left: 56%;
    }

    .admin-header-btn {
        display: none;
    }

    .main-area h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
    }

    .column {
        margin: 0px 50px;
        padding-bottom: 10px;
        grid-template-columns: 100%;
    }
     
    .profile-info {
        display: inline-block;
        margin-top: 0px;
        margin-right: 60px;
    }
    
    .profile-info h2 {
        font-size: 20px;
        letter-spacing: 2px;
        color: #888888;
    }
    
    .profile-info h4 {
        padding: 3px;
        color: #304e35
    }
    
    .profile-header img {
        height: 60px;
        border-radius: 50%;
        margin-left: 20%;
    }

    .profile-content {
        display: grid;
        grid-template-columns: 100%;
        height: 10%;
        margin: auto;
    }

    .sidebar {
        display: none;
    }

    thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1.5px solid #cccccc;
        margin-bottom: 10px;
    }

    td {
        border: none;
        border-bottom: 2px solid #eeeeee;
        position: relative;
        padding-left: 50%;
    }

    td::before {
        content: attr(data-label);
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        left: 20px;
        width: 45px;
        font-weight: bold;
        white-space: nowrap;
    }
    
    h4 {
        font-size: 16px;
    }

    .party_details {
        display: block;
    }

    .party_details h2 {
        margin-top: 25px;
    }

    .modal-container {
        padding: 40px 10px 10px 10px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto 15% auto;
        border: none;
        box-shadow: 2px 3px;
        width: 100%;
        height: 100%;
    }

    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 50px;
        font-weight: bold;
        color: #f8c2b4;
    }
      
    .close:hover,
    .close:focus {
        color: #6fee8b;
        cursor: pointer;
    }

    #success {
        width: 90%;
    }

    .form-header {
        margin-top: 15%
    }
}

@media (min-width: 601px) and (max-width: 780px) {
    .showcase {
      height: 50vh;
    }

    .row-content {
        grid-template-columns: 100%;
    }

    .row-content p, .item-header {
        font-size: 25px;
    }

    .form-wrapper, .form-header {
        width: 85%;
        margin-top: 15%;
    }

    .form-header {
        margin-bottom: -15%;
    }

    #success, #error_header, #error-header {
        display: none;
        margin: auto;
        margin-top: 115px;
        margin-bottom: -115px;
        padding: 8px;
        border-radius: 3px;
        width: 85%;
    }

    .profile-content {
        display: block;
        grid-template-columns: 100%;
        height: 10%;
        margin: auto;
    }

    .profile-info {
        display: inline-block;
        float: right;
        margin-top: 1.5%;
        margin-right: 15%;
    }

    .profile-nav {
        display: inline-block;
        padding: 0 10px;
    }

    .footer {
        display: none;
    }
}